@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  background-color: #030210;
  color: #ffffff;
}

.analyticsContain {
  padding: 0px 150px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: auto;
  gap: 37px;
  width: 60%;
  padding-top: 60px;
}

.analyticsContain2 {
  padding: 0px 150px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 37px;
  width: 60%;
  margin: auto;
  padding-top: 60px;
}

.containerTestimony {
  padding: 0px 150px 0px 150px;
  margin-top: 83px;
}

.testContain {
  display: flex;
  gap: 25px;
  margin-top: 35px;
}

@media screen and (max-width: 500px) {
  * {
    box-sizing: border-box;
  }
  .headImg {
    display: none;
  }

  .containerTestimony {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
  }
}
