@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  background-color: #030210;
  color: #ffffff;
}

.analyticsContain {
  padding: 0px 150px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: auto;
  gap: 37px;
  width: 60%;
  padding-top: 60px;
}

.analyticsContain2 {
  padding: 0px 150px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 37px;
  width: 60%;
  margin: auto;
  padding-top: 60px;
}
