.featContain {
  padding: 0px 150px 0px 150px;
}

.featHead h2 {
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 25.2px;
  text-align: left;
  padding-bottom: 25px;
}

.featlogo {
  background: #252546;
  display: flex;
  padding: 42px 80px;
  gap: 76px;
  justify-content: space-between;
  align-items: center;
  border-radius: 13px;
}

.featlogo img {
  background-color: transparent;
}

@media screen and (max-width: 500px) {
  .featContain {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }

  .featlogo {
    gap: 10px;
    padding: 30px 10px 30px 10px;
  }
  .featlogo img {
    width: 20%;
  }
}
