.adervtContain {
  margin: 0px 150px 117px 150px;
  background: linear-gradient(277.4deg, #abd9d9 -26.77%, #1c1955 112.51%);
  border-radius: 25px;
  padding: 50px;
}

.adervtContain h3 {
  font-family: "Outfit", sans-serif;
  font-size: 27px;
  font-weight: 700;
  line-height: 34.02px;
  text-align: center;
  background: transparent;
  color: #070707;
}

.adervtContain h1 {
  font-family: "Outfit", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 60.48px;
  text-align: center;
  width: 376px;
  margin: auto;
  background: transparent;
}

.advertBtn {
  background-color: transparent;
  width: 265px;
  margin: auto;
  padding-top: 60px;
}

.advertBtn button {
  width: 265px;
  border-radius: 38px;
  padding: 23px 48px;
  font-family: "Outfit", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 34.02px;
  letter-spacing: -0.02em;
  border: 0px;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .adervtContain {
    box-sizing: border-box;
    padding: 30px 20px 30px 20px;
    margin: 20px;
  }

  .adervtContain h1 {
    width: unset;
    font-size: 40px;
    line-height: 40px;
  }

  .advertBtn {
    padding-top: 30px;
  }

  .advertBtn button {
    font-size: 16px;
    padding: 10px 20px 10px 20px;
    box-sizing: border-box;
    text-align: center;
    height: 60px;
  }
}
